<script type="text/javascript" src="[var.base_url]/lib/javascripts/jquery.min.js"></script>
<div class="username_edited">
    
    <span id="error" style="color: red" />
    
            <div class="old_password_title">
                <h4>Old Password:</h4>
                <input id="old_password" type="password"/>
            </div>
            
            <div class="new_password_title">
                <h4>New Password:</h4>
                <input id="new_password" type="password"/>
            </div>
    
            <div class="re_type_password_title">
                <h4>Retype New Password:</h4>
                <input id="renew_password" type="password"/>
            </div>
           
            <div class="save_buttons">   
                <input class="reply_or_cancel" id="send_replay" type='button' value='Save'/>
                <input class="reply_or_cancel" id="tag_cancel" type='button' onclick="tb_remove();" value='Cancel'/>
                <input class="reply_or_cancel" id="acount_password_edited" type='hidden' value="yes"/>
            </div>
</div>

<script type="text/javascript">$("#send_replay").click(function(){var commentId=$(this).attr('id');$(this).val('Waiting...');$("#"+commentId).attr('disabled',true);$.post("account_password.php",{old_password:$("#old_password").val(),new_password:$("#new_password").val(),renew_password:$("#renew_password").val(),acount_password_edited:$("#acount_password_edited").attr('value')},function(result){if(result=="success"){$("#"+commentId).val('Replay Successed!');$("#"+commentId).attr('disabled',true);tb_remove();}else{$("#error").html(result);$("#"+commentId).val('Re-Enter');$("#"+commentId).attr('disabled',false);}}).error(function(){$("#"+commentId).val('Error..');})});</script>