 <div id ="side_editprofile_nav">
        
        
        <div id="side_editprofile_nav_manu">    
           <ul>
               <li><a href="[var.base_url]/editprofile.php?edit=basicinfo"">[var.lang_basic_info]</a></li>
               <li><a href="[var.base_url]/editprofile.php?edit=changepic">[var.lang_change_picture]</a></li>
               <li><a href="[var.base_url]/editprofile.php?edit=doctors"">[var.lang_doctors]</a></li>
               <li><a href="[var.base_url]/editprofile.php?edit=friends"">[var.lang_friends]</a></li>
           </ul> 
        </div>
</div>
