<script type="text/javascript" src="[var.base_url]/lib/javascripts/ddaccordion.js">

/***********************************************
* Accordion Content script- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* Visit http://www.dynamicDrive.com for hundreds of DHTML scripts
* This notice must stay intact for legal use
***********************************************/

</script>


<script type="text/javascript">


ddaccordion.init({
	headerclass: "expandable", //Shared CSS class name of headers group that are expandable
	contentclass: "categoryitems", //Shared CSS class name of contents group
	revealtype: "mouseover", //Reveal content when user clicks or onmouseover the header? Valid value: "click", "clickgo", or "mouseover"
	mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
	collapseprev: true, //Collapse previous content (so only one open at any time)? true/false 
	defaultexpanded: [0], //index of content(s) open by default [index1, index2, etc]. [] denotes no content
	onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
	animatedefault: false, //Should contents open by default be animated into view?
	persiststate: true, //persist state of opened contents within browser session?
	toggleclass: ["", "openheader"], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
	togglehtml: ["prefix", "", ""], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
	animatespeed: "normal", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
	oninit:function(headers, expandedindices){ //custom code to run when headers have initalized
		//do nothing
	},
	onopenclose:function(header, index, state, isuseractivated){ //custom code to run whenever a header is opened or closed
		//do nothing
	}
})


</script>


<div id ="sideNav">   
        <div id="profile_img">
            <a href="[var.base_url]/editprofile.php?edit=changepic"><img src="[var.profile_pic]" border="2" alt=[var.name]" /></a>
         </div>   
        
        <div id="profile_name">
                <b><a href="[var.base_url]/profile.php">[var.name]</a></b>
        </div>
        <div class="arrowlistmenu">    
           <ul>
               <h4 class="menuheader expandable">[var.lang_home]</h4>
               <ul class="categoryitems">
                    <li onclick="location.href='[var.base_url]/home.php'">[var.lang_home]</li>
               </ul>
               <h4 class="menuheader expandable">[var.lang_screening_tools]</h4>
               <ul class="categoryitems">
                    <li onclick="location.href='[var.base_url]/screeningtools.php?st=activity'">[var.lang_activity]</li>
      <!--               <li onclick="location.href='[var.base_url]/screeningtools.php?st=recommendation'">[var.lang_recommendation]</li>     -->
                    <li onclick="location.href='[var.base_url]/screeningtools.php?st=alltools'">[var.lang_all_tools]</li> 
               </ul>
    <!--           <h4 class="menuheader expandable">[var.lang_messages]</h4>
                  <ul class="categoryitems">
                    <li onclick="location.href='[var.base_url]/messages.php?sendTo=pa'">[var.lang_messages]</li> 
                    <li onclick="location.href='[var.base_url]/message_from_patients.php'">Messages From Patients</li>
                    <li onclick="location.href='[var.base_url]/message_from_doctors.php'">Messages From Friends</li> 
                    <li onclick="location.href='[var.base_url]/sent_messages.php'">Sent Messages</li> 
                 </ul> 
    -->
               <h4 class="menuheader expandable">[var.lang_your_patients]</h4>
                    <ul class="categoryitems">
                        <li onclick="location.href='[var.base_url]/lookfor.php?search_key=&search_patients=true&search_category=patient'">[var.lang_your_patients]</li>
                        <li onclick="location.href='[var.base_url]/lookfor.php?search_key=&search_patients=true&search_category=sent'">[var.lang_your_request_sent]</li>
                        <li onclick="location.href='[var.base_url]/lookfor.php?search_key=&search_patients=true&search_category=request'">[var.lang_your_confirm]</li>
                    </ul> 
               <h4 class="menuheader expandable">[var.lang_your_friends]</h4>
                    <ul class="categoryitems">
                        <li onclick="location.href='[var.base_url]/lookfor.php?search_key=&search_physicians=true&search_category=doctor'">[var.lang_your_friends]</li>
                        <li onclick="location.href='[var.base_url]/lookfor.php?search_key=&search_physicians=true&search_category=sent'">[var.lang_your_request_sent]</li>
                        <li onclick="location.href='[var.base_url]/lookfor.php?search_key=&search_physicians=true&search_category=request'">[var.lang_your_confirm]</li>
                    </ul>
        </div>
    </div>