<script type="text/javascript" src="[var.base_url]/lib/javascripts/jquery.min.js"></script>

<table cellspacing="0" width="580px"><tbody>

<tr>
    <td colspan="2">
    <fieldset class="pieform-fieldset">
    <legend><h3>About [var.detail_result.firstname;ope=max:8] [var.detail_result.lastname;ope=max:8]</h3></legend><table><tbody>
                    <tr id="profileform_aboutdescription_container" class="html">
                    <th><div id="profileicon"><img src="[var.detail_result.thumbnail_pic_name]" alt=""/></div></th>
            </tr>
                    <tr id="profileform_firstname_container" class="required text">
                    <th><label for="profileform_firstname">First Name:</label> <span class="requiredmarker"></span></th>
                    <td><label for="profileform_firstname">[var.detail_result.firstname]</label> <span class="requiredmarker"></span></td>
            </tr>
            </tr>
                    <tr id="profileform_middlename_container" class="required text">
                    <th><label for="profileform_middlename">Middle Name:</label> <span class="requiredmarker"></span></th>
                    <td><label for="profileform_middlename">[var.detail_result.middlename]</label> <span class="requiredmarker"></span></td>
            </tr>
                    <tr id="profileform_lastname_container" class="required text">
                    <th><label for="profileform_lastname">Last Name:</label> <span class="requiredmarker"></span></th>
                    <td><label for="profileform_lastname">[var.detail_result.lastname]</label> <span class="requiredmarker"></span></td>
            </tr>
                    <tr id="profileform_dob_container" class="required text">
                    <th><label for="profileform_dob">[var.lang_date_birth]:</label> <span class="requiredmarker"></span></th>

                    <td>               
                        <div class="dob_edit">
                           <label for="profileform_dob">[var.detail_result.dob]</label> <span class="requiredmarker"></span>
                        </div>                    
                    </td>
            </tr>
            <tr>
                    <th><label for="profileform_gender">[var.lang_gender]:</label> <span class="requiredmarker"></span></th>
                    <td>
                        <label for="profileform_gender">[var.detail_result.sex]</label> <span class="requiredmarker"></span>
                    </td>
            </tr>
            <tr id="profileform_introduction_container" class="wysiwyg">
                    <th><label for="profileform_introduction">Introduction:</label></th>
                    <td><label for="profileform_introduction">[var.detail_result.introduction]</label> <span class="requiredmarker"></span></td>
            </tr>
    </tbody>
    </table></fieldset>
    </td>

	</tr>	
        
        <tr id="profileform_submit_container" class="submit">
		<th></th>
		<td><input class="reply_or_cancel" id="tag_cancel" type='button' onclick="tb_remove();" value='Back'/></td>
	</tr>
</tbody></table>



