<div id="dr_and_fri">
        <div class="edited_friend_tag">
                     <ul>
                            <li>
                                   <a class='thickbox' href="about_info.php?height=500&width=600&modal=true&info_cate=patient&patient_info_num=[info.patient_id;block=li;ondata=add_patients_tag_widget]"><img src="[var.base_url]/[info.thumbnail_pic_name;block=li;ondata=add_patients_tag_widget]"/></a> 
                                   <div class="details">
                                       <table border="0" width="260">
                                                 <tr>
                                                     <td width="160">
                                                         <h4><a class='thickbox' href="about_info.php?height=500&width=600&modal=true&info_cate=patient&patient_info_num=[info.patient_id;block=li;ondata=add_patients_tag_widget]">[info.firstname;ope=max:8] [info.lastname;ope=max:8]</a></h4> 
                                                     </td>
                                                     <td>
                                                         <div class="ignore_tag">
                                                             [info.level2; htmlconv=no]
                                                         </div>
                                                    </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         <h5>Country: [info.country_code]</h5> 
                                                     </td>
                                                 </tr>
                                       </table>
                                   </div>
                            </li>
                    </ul> 
        </div>
</div>