<div class="st_be_recommended">
           <div class="st_be_recommended_list">
            <ul>
                <li>
                    <table border="0">
                        <tr> 
                            <td>
                                <div class="image">
                                    <a href="[var.base_url]/screeningtools.php?st_req=[alltools.screeningtool_name_md5]"><img width="60px" height ="60px" src="[var.base_url]/[alltools.st_icon_location;block=li]"  border ="1" alt="[alltools.screeningtools]" /></a>
                                </div>
                            </td>                      
                            <td width="200px" rowspan="2" >
                                <div class="fullname">
                                     <a href="[var.base_url]/screeningtools.php?st_req=[alltools.screeningtool_name_md5]">[alltools.screeningtool_full_name]</a>
                                </div> 
                            </td>
                            <td rowspan="2">
                                Recommended by
                            </td>
                                <td rowspan="2">
                                    <div class="image">
                                         <a class='thickbox' href="about_info.php?height=500&width=600&modal=true&info_cate=physician&physician_info_num=[alltools.physician_id]"><img width="70px" height ="70px" src="[var.base_url]/[alltools.thumbnail_pic_name;block=li]"  border ="1" alt="[alltools.firstname] [alltools.lastname]" /></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="text">
                                         <a class='thickbox' href="about_info.php?height=500&width=600&modal=true&info_cate=physician&physician_info_num=[alltools.physician_id]">[alltools.firstname] [alltools.lastname]</a>
                                    </div>
                                </td>  
                        </tr>  
                        <tr>
                            <td>
                                <div class="text">
                                        <a href="[var.base_url]/screeningtools.php?st_req=[alltools.screeningtool_name_md5]">[alltools.screeningtool_name]</a>
                                </div>
                            </td>
                            
                            <td>
                                <div class="text">
                                            <a class='thickbox' href="about_info.php?height=500&width=600&modal=true&info_cate=physician&physician_info_num=[alltools.physician_id]">Specialty: [alltools.specialist]</a>
                                </div>
                            </td>
                        </tr>
                     </table> 
                </li>
             </ul>
        </div>
</div>