<div class="st_all_tools">
           <div class="st_all_tools_widget">
             <ul>
                <li>
                    <div class="image">
                    <a href="[var.base_url]/screeningtools.php?st_req=[alltools.screeningtool_name_md5]"><img  width="100px" height ="100px" src="[var.base_url]/[alltools.st_icon_location;block=li]"  border ="1" alt="[alltools.screeningtools]" /></a>
                    </div>
                    <div class="text">
                        <a href="[var.base_url]/screeningtools.php?st_req=[alltools.screeningtool_name_md5]">[alltools.screeningtool_name]</a>
                    </div>
                    <div class="fullname">
                        <a href="[var.base_url]/screeningtools.php?st_req=[alltools.screeningtool_name_md5]">[alltools.screeningtool_full_name]</a>
                    </div>
                    <a href="recommandation_details.php?width=800&modal=true&st_id=[alltools.st_category_id]" class="thickbox">Recommand to</a> 
                </li>
             </ul>
        </div>
</div>