<div class="widget-content">
                    <ul>
                        <li>
                           <a href="[var.base_url]/screeningtools.php?st_req=[ST_info.screeningtool_name_md5]"><img src="[var.base_url]/[ST_info.st_icon_location;block=li]" width="50px" height="50px" border ="1" alt="[ST_info.screeningtools]" /></a> 
                           <div class="details">
                                   <table border="0" width="250">
                                         <tr>
                                             <td>
                                                 <h4><a href="[var.base_url]/screeningtools.php?st_req=[ST_info.screeningtool_name_md5]">[ST_info.screeningtools]</a></h4> 
                                             </td>
                                             <td>
                                                 <h6>[ST_info.usage_date_time]</h6>
                                            </td>
                                         </tr>
                                         <tr>
                                             <td>
                                                 <h5>SCORE: [ST_info.score]</h5> 
                                             </td>

                                             <td>
                                                 <h6>via [ST_info.platform]</h6>
                                            </td>
                                         </tr>
                                     </table>
                             </div>
                        </li>
                    </ul>        
                </div>