<div class="footer_tag">
<h1>WHAT INFORMATION DO WE COLLECT?</h1>
<p>When you use the website, you may be asked to provide personal information: your resume, cover letter, name and e-mail address.</p>
<h1>WHAT DO WE USE YOUR INFORMATION FOR?</h1>
<p>Any of the information we collect form you may be use in one of the following ways</p>
                <p>•	To improve our website: We hope to improve our website based on your feedback and suggestions</p>
                <p>•	To improve our customer service: Your information helps us to more effectively response customer service and request.</p>
                <p>•	To improve our customer service: Your information helps us to more effectively response customer service and request.</p>
                <p>•	To contact with you privately: You may be contacted if you apply the job and you are considered as potential candidate. </p>
                <p>•	To contact with you privately: You may be contacted if you will be our potential customers. </p>
<h1>HOW DO WE PROTECT YOUR INFORMATION?</h1>
<p>We implement the security measurements to maintain and protect your information.</p>
<h1>DO WE USE COOKIES</h1>
<p>We DO NOT use cookies.</p>
<h1>THIRD PARTY LINKS</h1>
<p>We may include or offer third party products or services on our website. The websites of third party have independent privacy policies. We DO NOT have responsibility or liability for the content and activities of the linked websites.</p>
<h1>QUESTIONS</h1>
<p>If you have any questions or suggestions regarding to our privacy policy, please contact our Privacy Officer:</p>
               

</div>